.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  margin-top: -80px;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px;
  padding-top: 100px;
  width: 700px;
}

.title {
  font-size: 0.8rem;
  margin: 5px 3px;
  color: #444;
}

/* .input {
  padding: 10px;
  font-size: 1.07rem;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #ccc;
} */

.input {
  padding: 10px 15px;
  border: 1px solid #eee;
  border-radius: 7px;
  font-size: 1.07rem;
  outline: none;
  line-height: 1.5;
  margin-bottom: 10px;
}