.card {
  font-family: 'Space Mono', monospace;
  /* height: 270px; */
  width: 430px;
  background-image: linear-gradient(to bottom right, #141320, #2bdeeb);
  padding: 25px 15px;
  border-radius: 15px;
  color: white;
}

.number {
  padding: 10px 15px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 2.08rem;
}

.cardTypeRow {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 25px;
  justify-content: space-between;
}

.chip {
  border-radius: 5px;
  height: 35px;
  display: block;
  margin: auto 0;
  
}

.cardType {
  height: 85px;
}

.title {
  font-size: 0.8rem;
}

.name {
  font-weight: bold;
  overflow: hidden;
  flex-wrap: nowrap;
  font-size: 1.2rem;
}

.expiry {
  font-weight: bold;
  width: 30px;
  margin-right: 35px;
  font-size: 1.2rem;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  /* margin-right: 15px; */
}
